# HOW TO USE DATA IMPORT API

# IMPORT FROM SOURCES

## IMPORT FROM CSV - data.py

In [1]:
from data import csv

In [2]:
csv_full_path = "../data/anet_import_data.csv"

In [3]:
csv_obj = csv(csv_full_path)

In [4]:
csv_obj.read_csv_file()

In [5]:
csv_obj.df

,apps idc,tashkera,actual rank,tashkil rank,employee name,family name,fathers name,grandfathers name,dob,enrollment date,...,position,tashkil gender,tashkera.1,province,district,hazard duty level,permanent address,permanent district,ethnicity,level of education
0,1254789652365478965,7854216,CIV,CIV,Christopf,TOPFERNESS,Christopfs fathers name,Christopfs grandfathers name,dob,2019-08-20 11:33:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4567894523325478965,6547324,MGN,MGN,Lucy,CECHTELAR,Lucys fathers name,Lucys grandfathers name,dob,2020-08-12 7:33:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8564738765347809876,4563746,LTC,LTC,Thiel,KEEGAN,Thiels fathers name,Roscoes grandfathers name,dob,2020-01-07 4:33:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## IMPORT FROM XLSX - data.py

In [ ]:
from data import xlsx

In [ ]:
xlsx_full_path = "../data/people.xlsx"

In [ ]:
xlsx_obj = xlsx(xlsx_full_path)

In [ ]:
xlsx_obj.read_xlsx_file("second_sheet")

In [ ]:
xlsx_obj.df

xlsx_obj.read_xlsx_file(sheet_name="all")
xlsx_obj.df["first_sheet"]
xlsx_obj.df["second_sheet"]

## IMPORT FROM ACTIVE DIRECTORY ad.py

In [ ]:
from ad import ad

In [ ]:
ad_config =  {
    "LDAP_SERVER" : "<LDAP_SERVER>",
    "BASE_DN" : "<BASE_DN>",  # base dn to search in
    "LDAP_LOGIN" : "<LDAP_LOGIN>",
    "LDAP_PASSWORD" : "<LDAP_PASSWORD>"
}

In [ ]:
ad_obj = ad(ad_config)

In [ ]:
ad_obj.connect()

In [ ]:
search_filter = "objectCategory=Person"
search_attribute = ["mail", "sAMAccountName", "displayName"]

ad_obj.search(search_filter, search_attribute)

In [ ]:
type(ad_obj.data_list)

In [ ]:
ad_obj.data_list

In [ ]:
# LOOP THROUGH THE DICTIONARY AND PRINT VALUES
for i in ad_obj.data_list:
    rawDict = i[1]
    data = {k: v[0] for k, v in rawDict.items()}
    if all(key in data for key in ('mail', 'displayName', 'sAMAccountName')):
        print(data)

# Import from DB and Export to DB - db.py

## Connect DB

In [ ]:
from db import db

In [ ]:
db_obj = db()

In [ ]:
db_obj.connect()

In [ ]:
db_obj.get_all_people_as_df()

## Data Mapping

In [ ]:
db_obj.people_df.head()

In [ ]:
db_obj.people_df["name"][1] = "JACKSON, Jack"

In [ ]:
db_obj.people_df.head()

## Update DB

In [ ]:
db_obj.update_db()